<!-- Header Start -->
<header class="andro_header header-2 can-sticky">
  <!-- Middle Header Start -->
  <div class="andro_header-middle">
    <div class="container">
      <nav class="navbar">
        <!-- Logo -->
        <a class="navbar-brand" href='/home'> <img src="assets/img/logo.png" alt="logo"> </a>

        <!-- Menu -->
        <ul class="navbar-nav">
          <li class="menu-item">
            <a href='/home'>Home</a>

          </li>
          <li class="menu-item">
            <a href='/about'>About Us</a>

          </li>
          <li class="menu-item">
            <a href="/shop">Shop</a>

          </li>

          <li class="menu-item"> <a href="contact-us">Contact Us</a> </li>
        </ul>

        <div class="andro_header-controls">

          <ul class="andro_header-controls-inner">
            <li class="andro_header-favorites"> <a href="/login" title="My Account"> Min sida </a> </li>
            <li class="andro_header-cart">
              <a href="/mycart" title="Your Cart">
                <i class="flaticon-shopping-basket"></i>
                <app-cart-summary></app-cart-summary>
              </a>
            </li>
          </ul>

          <!-- Toggler -->
          <div class="aside-toggler aside-trigger-left">
            <span></span>
            <span></span>
            <span></span>
          </div>

        </div>
      </nav>
    </div>
  </div>
  <!-- Middle Header End -->
  <!-- Bottom Header Start -->
  <div class="andro_header-bottom">
    <div class="container">

      <div class="andro_header-bottom-inner">

        <!-- Search Form -->
        <div class="andro_search-adv">
          <form [formGroup]="searchform">
            <div class="andro_search-adv-cats">
              <span>All Categories</span>

              <div class="sub-menu">
                <div class="andro_dropdown-scroll">
                  <app-header-category></app-header-category>

                </div>
              </div>
            </div>
            <div class="andro_search-adv-input">
              <input type="text" class="form-control" placeholder="Look for Fruits, Vegetables" formControlName="searchstring" value="">
              <button type="submit" name="button" (click)="navigate()"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>

        <!-- Side navigation toggle -->
        <div class="aside-toggler aside-trigger-right desktop-toggler">
          <span></span>
          <span></span>
          <span></span>
        </div>

      </div>

    </div>
  </div>
  <!-- Bottom Header End -->
</header>
<!-- Header End -->
