﻿@model CMS.Dto.TestimonialDto
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Testimonial Details
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item">
                                    @Html.ActionLink("Home", "Index", "Home")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">
                                    @Html.ActionLink("All Testimonials", "Index", "Testimonial")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">More Information</li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <a href='@Url.Action("Index", "Testimonial")'>Back to List</a>
                </div>
            </div>
        </div>
    </section>
    <section class="statistic">
        <div class="container">
            <form>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Blog Details</strong>
                        </div>
                        <div class="card-body card-block">
                            <dl class="dl-horizontal">

                                <dt>
                                    @Html.DisplayName("Person")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Person)
                                </dd>


                                <dt>
                                    @Html.DisplayName("Designation")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Designation)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Company")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CommentDate)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Image")
                                </dt>

                                <dd>
                                    <img src="@Model.PhotoPath" alt="@Model.Person" width="25%">
                                </dd>
                                <dt>
                                    @Html.DisplayName("Company")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Company)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Comment")
                                </dt>

                                <dd>
                                    @Html.Raw(HttpUtility.HtmlDecode(Model.TestimonialText))
                                </dd>
                                <dt>
                                    @Html.DisplayName("Email")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Email)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Sort Index")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SortIndex)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Comment Date")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CommentDateText)
                                </dd>


                            </dl>

                        </div>

                        <div class="card-footer">
                            <p>
                                <a href='@Url.Action("AddNew", "Testimonial",new { tid = Model.Id })'>Edit</a>  |  <a href='@Url.Action("Index", "Testimonial")'>Back to List</a>
                            </p>
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </section>

</div>


