<!-- Prealoder start -->
<div class="andro_preloader">
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>
  <!-- Prealoader End -->
        <div *ngIf="product" class="modal-content">
            <div class="modal-body">

                <div class="close-btn close-dark close" data-dismiss="modal">
                    <span></span>
                    <span></span>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{product.ThumbImagePath}}" alt="{{product.Name}}">
                        </div>
                        <div class="col-md-7">

                            <div class="andro_product-single-content">

                                <h3> {{product.Name}} </h3>

                                <div class="andro_product-price">
                                    <span>{{product.LatestPrice}} kr / {{product.UoMText}}</span>
                                    <span>{{product.BasePrice}} kr</span>
                                   
                                </div>

                                <p class="andro_product-excerpt">{{product.SmallDetails}}</p>

                                <form class="andro_product-atc-form" [formGroup]="shoppingform">

                                    <div class="andro_product-variation-wrapper">
                                        <div class="form-group">
                                            <div class="qty-outter">
                                            <div class="qty">
                                                Total:  <span>{{unitprice * 1}}</span>
                                            </div>
                                        </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <select class="form-control" formControlName="brand">
                                                <option *ngFor="let item of brands" [ngValue]="item.Id">{{ item.Name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="qty-outter">
                                        <a href="product-single.html" class="andro_btn-custom">Buy Now</a>
                                        <div class="qty" id="qty_div">
                                            <span class="qty-subtract"><i class="fa fa-minus"></i></span>
                                            <input type="number" name="qty" value="1">
                                            <span class="qty-add"><i class="fa fa-plus"></i></span>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
  