﻿@model CMS.Dto.SEODto
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        SEO Details
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item">
                                    @Html.ActionLink("Home", "Index", "Home")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">
                                    @Html.ActionLink("SEOs", "Index", "SEO")
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">SEO Details</li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <a href='@Url.Action("Index", "SEO")'>Back to List</a>
                </div>
            </div>
        </div>
    </section>
    <section class="statistic">
        <div class="container">
            <form>
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <strong>SEO Details</strong>
                        </div>
                        <div class="card-body card-block">
                            <dl class="dl-horizontal">

                                <dt>
                                    @Html.DisplayName("Meta Title")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SEOTitle)
                                </dd>


                                <dt>
                                    @Html.DisplayName("Meta Description")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SEODescription)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Keywords")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Keyword)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Page Type")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PageTypeName)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Allow Robot?")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Robot)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Language")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LanguageName)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Last Update")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LastUpdateText)
                                </dd>


                            </dl>

                        </div>
                        <div class="card-footer">
                            <p>
                                <a href='@Url.Action("AddNew", "SEO",new { sid = Model.Id })'>Edit</a>  |  <a href='@Url.Action("Index", "SEO")'>Back to List</a>
                            </p>
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </section>

</div>



