﻿@model CMS.Dto.TeamDto
@{
    ViewBag.Title = "Add New Member";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Add Member
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item">
                                    @Html.ActionLink("Home", "Index", "Home")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">
                                    @Html.ActionLink("All Team Members", "Index", "Team")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">Add New</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </section>
    <section class="statistic">
        <div class="container">
            <form id="save_form">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <strong>Add Form</strong>
                        </div>
                        <div class="card-body card-block">

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-control-label" })
                                    @Html.HiddenFor(model => model.Id)

                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "form-control-label" })
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextBoxFor(model => model.Designation, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.SmallDetails, htmlAttributes: new { @class = "form-control-label" })
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextBoxFor(model => model.SmallDetails, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.Photo, "Thumbnail Image", htmlAttributes: new { @class = "form-control-label" })

                                </div>
                                <div class="col-12 col-md-9">
                                    @if (Model != null)
                                    {
                                        <img src="@Model.PhotoPath" width="25%" />
                                    }
                                    <input type="file" id="Photo" class="form-control-file">
                                    <small class="form-text text-muted">This is Thumb image</small>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.BranchId, "Branch", htmlAttributes: new { @class = "form-control-label" })

                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.DropDownListFor(x => x.BranchId, new SelectList(ViewBag.Branches, "Id", "BranchName"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.LangId, "Language", htmlAttributes: new { @class = "form-control-label" })

                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.DropDownListFor(x => x.LangId, new SelectList(ViewBag.Languages, "Id", "LanguageName"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.SortIndex, "Sort Index", htmlAttributes: new { @class = "form-control-label" })

                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextBoxFor(model => model.SortIndex, new { @class = "form-control", @type = "number" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "form-control-label" })

                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.DropDownListFor(x => x.Status, EnumHelper.GetSelectList(typeof(CMS.Infrastructure.EntityStatus)), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" id="btnSave" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>

                        </div>
                    </div>

                </div>

            </form>

        </div>

        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="smallmodalLabel">Response</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="successModalText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $('#btnSave').on('click', function () {
        //event.preventDefault();
        var photoFile = $('#Photo').prop('files')[0];
        var form = document.getElementById('save_form');
        var form_data = new FormData(form);
        form_data.append('Photo', photoFile);
        $.ajax({
            type: "POST",
            url: '/Admin/Team/SaveMemberInfo',
            data: form_data,
            processData: false,
            contentType: false,
            success: function (data) {
                $('#successModal').modal('show');
                $('#successModalText').text(data.Message);

            },
            error: function () {
                $('#successModal').modal('show');
                $('#successModalText').text(error.status + "<--save and--> " + error.statusText);

            }
        });
    });
</script>


