﻿@model CMS.Dto.TeamDto
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Team Member Details
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item">
                                    @Html.ActionLink("Home", "Index", "Home")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">More Information</li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <a href='@Url.Action("Index", "Team")'>Back to List</a>
                </div>
            </div>
        </div>
    </section>
    <section class="statistic">
        <div class="container">
            <form>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Team Member Details</strong>
                        </div>
                        <div class="card-body card-block">
                            <dl class="dl-horizontal">

                                <dt>
                                    @Html.DisplayName("Name")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>


                                <dt>
                                    @Html.DisplayName("Designation")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Designation)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Samll Details")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SmallDetails)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Image")
                                </dt>

                                <dd>
                                    <img src="@Model.PhotoPath" alt="@Model.Name" width="25%">
                                </dd>
                                <dt>
                                    @Html.DisplayName("Branch")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.BranchName)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Master Id")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MasterId)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Language")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LanguageName)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Sort Index")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SortIndex)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Status")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.StatusText)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Last UpDate")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LastÚpdatedText)
                                </dd>


                            </dl>

                        </div>

                        <div class="card-footer">
                            <p>
                                <a href='@Url.Action("AddNew", "Team",new { memid = Model.Id })'>Edit</a>  |  <a href='@Url.Action("Index", "Team")'>Back to List</a>
                            </p>
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </section>

</div>

