﻿@model CMS.Dto.AdminPanelLoginsDto
@{
    ViewBag.Title = "Log In";
    Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
}

    <div class="login-form">
        @using (Html.BeginForm("SignIn", "Login", FormMethod.Post))
        {
            <div class="form-group">
                <label>Email Address</label>
                
                @Html.TextBoxFor(m => m.UN_1, new { @class = "au-input au-input--full", @placeholder = "Email" })
            </div>
            <div class="form-group">
                <label>Password</label>
                
                @Html.TextBoxFor(m => m.PS_1, new { @type = "password", @class = "au-input au-input--full", @placeholder = "Password" })
            </div>
            <div class="login-checkbox">
                @*<label>
                    <input type="checkbox" name="remember">Remember Me
                </label>*@
                <label>
                    <a href="#">Forgotten Password?</a>
                </label>
            </div>


        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign in</button>
        <div class="social-login-content" style="display:none;">
            <div class="social-button">
                <button class="au-btn au-btn--block au-btn--blue m-b-20">sign in with facebook</button>
                <button class="au-btn au-btn--block au-btn--blue2">sign in with twitter</button>
            </div>
        </div>
        }
        <div class="register-link">
            <p>
                @ViewBag.Message
                @*Don't you have account?
                <a href="#">Sign Up Here</a>*@
            </p>
        </div>
    </div>





