﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Advance Soft Solutions CMS Admin Panel">
    <meta name="keywords" content="CMS, Admin Panel, Ni-Teck, Advance Soft Solutions">
    <!-- Title Page-->
    <title>@ViewBag.Title | CMS</title>
    <!-- Fontfaces CSS-->
    <link href="~/Areas/Admin/Areas/Admin/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link href="~/Areas/Admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link href="~/Areas/Admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/Areas/Admin/css/theme.css" rel="stylesheet" media="all">
</head>
<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="~/Areas/Admin/images/icon/bluegradient logo.png" alt="CoolAdmin" width="50%" />
                            </a>
                        </div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="~/Areas/Admin/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Areas/Admin/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Areas/Admin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Areas/Admin/vendor/slick/slick.min.js">
    </script>
    <script src="~/Areas/Admin/vendor/wow/wow.min.js"></script>
    <script src="~/Areas/Admin/vendor/animsition/animsition.min.js"></script>
    <script src="~/Areas/Admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/Areas/Admin/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Areas/Admin/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/Areas/Admin/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Areas/Admin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Areas/Admin/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Areas/Admin/vendor/select2/select2.min.js">
    </script>
    <!-- Main JS-->
    <script src="~/Areas/Admin/js/main.js"></script>
</body>
</html>
<!-- end document-->
