<!-- Aside (Mobile Navigation) -->
<aside class="andro_aside andro_aside-left">
    <a class="navbar-brand" href="/home"> <img src="assets/img/logo.png" alt="logo"> </a>
  
    <ul>
      <li class="menu-item">
        <a href="/home">Home</a>
        
      </li>
      <li class="menu-item">
        <a href="/home">About Us</a>
  
      </li>
      <li class="menu-item">
        <a href="shop/">Shop</a>
  
      </li>
  
      <li class="menu-item"> <a href="/contact-us">Contact Us</a> </li>
    </ul>
  
  </aside>
  <div class="andro_aside-overlay aside-trigger-left"></div>

<!-- Header Start -->
<header class="andro_header header-2 can-sticky">
  <!-- Middle Header Start -->
  <div class="andro_header-middle">
    <div class="container">
      <nav class="navbar">
        <!-- Logo -->
        <a class="navbar-brand" href='/home'> <img src="assets/img/logo.png" alt="logo"> </a>

        <!-- Menu -->
        <ul class="navbar-nav">
          <li class="menu-item">
            <a href='/home'>Home</a>

          </li>
          <li class="menu-item">
            <a href='/about'>About Us</a>

          </li>
          <li class="menu-item">
            <a href="/shop">Shop</a>

          </li>

          <li class="menu-item"> <a href="contact-us">Contact Us</a> </li>
        </ul>

        <div class="andro_header-controls">

          <ul class="andro_header-controls-inner">
            <li class="andro_header-favorites"> <a href="/login" title="My Account"> Min sida </a> </li>
            <li class="andro_header-cart">
              <a href="/mycart" title="Your Cart">
                <i class="flaticon-shopping-basket"></i>
                <app-cart-summary></app-cart-summary>
              </a>
            </li>
          </ul>

          <!-- Toggler -->
          <div class="aside-toggler aside-trigger-left">
            <span></span>
            <span></span>
            <span></span>
          </div>

        </div>
      </nav>
    </div>
  </div>
  <!-- Middle Header End -->
  <!-- Bottom Header Start -->
  <div class="andro_header-bottom">
    <div class="container">

      <div class="andro_header-bottom-inner">

        <!-- Search Form -->
        <div class="andro_search-adv">
          <form [formGroup]="searchform">
            <div class="andro_search-adv-cats">
              <span>All Categories</span>

              <div class="sub-menu">
                <div class="andro_dropdown-scroll">
                  <app-header-category></app-header-category>

                </div>
              </div>
            </div>
            <div class="andro_search-adv-input">
              <!--<input type="text" class="form-control"  placeholder="Look for Fruits, Vegetables" [(ngModel)]="search1" value="">-->
              <input type="text" class="form-control" formControlName="searchText" aria-describedby="search-text" 
            [(ngModel)]="searchText" placeholder="Enter text to search" 
                 autofocus>
            </div>
          </form>
        </div>

        <!-- Side navigation toggle -->
        <div class="aside-toggler aside-trigger-right desktop-toggler">
          <span></span>
          <span></span>
          <span></span>
        </div>

      </div>

    </div>
  </div>
  <!-- Bottom Header End -->
</header>
<!-- Header End -->

<!-- Subheader Start -->
<div class="andro_subheader pattern-bg primary-bg">
  <div class="container">
    <div class="andro_subheader-inner">
      <h1>Shop with us</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Shop</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<!-- Subheader End -->
<!-- Products Start -->
<div class="section">
    <div class="andro_section-fw">

      <div class="row">
        <div class="col-lg-9">

          <!-- Product Count & Orderby Start -->
          <div class="andro_shop-global">
            <!--<p>Showing <b>20</b> of <b>320</b> products </p>-->
            <form [formGroup]="sortingform">
              <select class="form-control" formControlName="orderby" [(ngModel)]="selectedSort">
                <option value="'asc':'Name'" selected>By Name</option>
                <option value="'desc':'EntryDate'">Earliest</option>
                <option value="'desc':'LatestPrice'">Price: High - Low</option>
                <option value="'asc':'LatestPrice'">Price: Low - High</option>
                
              </select>
            </form>
          </div>
          <!-- Product Count & Orderby End -->

          <div class="row masonry">

            <!-- Product Start -->
            <div class="col-md-3 col-sm-4 masonry-item" *ngFor="let prod of products | filterpipe: searchText : featured : promoted  | sortBy: selectedSort ">
              <div class="andro_product andro_product-minimal andro_product-has-controls andro_product-has-buttons">
                <div class="andro_product-badge andro_badge-featured" *ngIf="prod.IsFeatured">
                  <i class="fa fa-star"></i>
                  <span>Featured</span>
                </div>
                <div class="andro_product-thumb">
                  <a href="/product/{{prod.ProductId}}"><img src="{{prod.ThumbImagePath}}" alt="{{prod.Name}}"></a>
                </div>
                <div class="andro_product-body">
                  <h6 class="andro_product-title"> <a href="/product/{{prod.ProductId}}"> {{prod.Name}} </a> </h6>
                  
                </div>
                <div class="andro_product-footer">
                  <div class="andro_product-price">
                    <span>{{prod.BasePrice}} kr</span>
                    <span>{{prod.LatestPrice}} kr</span>
                  </div>
                  <div class="andro_product-buttons">
                    <a href="/product/{{prod.ProductId}}" class="andro_btn-custom primary">Add To Cart</a>
                    <a href="#" (click)="SelectProduct(prod.ProductId);" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End -->

          </div>

          <!-- Pagination Start 
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
          </ul>
          Pagination End -->

        </div>

        <!-- Sidebar Start -->
        <div class="col-lg-3">
          <div class="sidebar">

            <!-- Search Start -->
            <div class="sidebar-widget widget-search">
              <form [formGroup]="searchform">
                <div class="andro_search-adv-input">
                  <input type="text" class="form-control" placeholder="Look for Fruits, Vegetables" formControlname="search" value="">
                  <button type="submit" name="button"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
            <!-- Search End -->

            <!-- Filter: Categories Start -->
            <div class="sidebar-widget">
                <h5 class="widget-title"> Category </h5>
                <ul class="sidebar-widget-list">
                  <li formArrayName="categories" *ngFor="let cat of ordersFormArray.controls; let i = index"> 
                    <div class="custom-control custom-checkbox">
                      
                      <input type="checkbox" class="custom-control-input"  [formControlName]="i" >
                      <label class="custom-control-label" >{{categories[i].CategoryName}}</label>
                    </div>
                  </li>
                 
                </ul>
                
                
              </div>
            <!-- Filter: Categories End -->

            <!-- Filter: Condition Start -->
            <div class="sidebar-widget">
              <h5 class="widget-title"> Condition </h5>
              <ul class="sidebar-widget-list">
                <li>
                  <div class="custom-control custom-checkbox">
                    
                    <input type="checkbox" class="custom-control-input" id="featured" [(ngModel)]="featured" name="featured">
                    <label class="custom-control-label" for="featured">Featured</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck8">
                    <input type="checkbox" class="custom-control-input" id="promoted" [(ngModel)]="promoted" formControlname="promoted" >
                    <label class="custom-control-label" for="promoted">On Sale</label>
                  </div>
                </li>
              </ul>

            </div>
            <!-- Filter: Condition End -->

            <!-- Filter: State Start -->
            <div class="sidebar-widget">
              <h5 class="widget-title"> Brand </h5>
              <ul class="sidebar-widget-list">
                <li *ngFor="let brand of brands">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="{{brand.Name}}">
                    <label class="custom-control-label" for="{{brand.Name}}">{{brand.Name}}</label>
                  </div>
                </li>
                
              </ul>

            </div>
            <!-- Filter: State End -->

            <!-- Filter: Freshness Start -->
            <div class="sidebar-widget">
              <h5 class="widget-title"> Freshness </h5>
              <input type="text" class="js-range-slider" name="freshness_range" value="" data-type="double" data-min="0" data-max="10" data-from="4" data-to="6" data-grid="true" data-postfix=" days" />
            </div>
            <!-- Filter: Freshness End -->

            <!-- Filter: Price Start -->
            <div class="sidebar-widget">
              <h5 class="widget-title"> Price </h5>
              <input type="text" class="js-range-slider" name="freshness_range" value="" data-type="double" data-min="0" data-max="500" data-from="10" data-to="100" data-grid="true" data-postfix=" $" />
            </div>
            <!-- Filter: Price End -->

          </div>
        </div>
        <!-- Sidebar End -->

      </div>

    </div>
  </div>
  <!-- Products End -->
  <!-- Quick View Modal Start -->
<div class="modal fade andro_quick-view-modal" id="quickViewModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <app-quickviewmodal [productId]="selectedProductId"></app-quickviewmodal>
  </div>
</div>

<!-- Quick View Modal End -->
  <app-gallery></app-gallery>
