﻿@model CMS.Dto.BranchDto
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Branch Details
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item">
                                    @Html.ActionLink("Home", "Index", "Home")
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">
                                    @Html.ActionLink("All Branches", "Index", "Branch")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">More Information</li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <a href='@Url.Action("Index", "Branch")'>Back to List</a>
                </div>
            </div>
        </div>
    </section>
    <section class="statistic">
        <div class="container">
            <form>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Branch Details</strong>
                        </div>
                        <div class="card-body card-block">
                            <dl class="dl-horizontal">

                                <dt>
                                    @Html.DisplayName("Title")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.BranchName)
                                </dd>


                                <dt>
                                    @Html.DisplayName("Small Details")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SmallDetails)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Details")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Details)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Image")
                                </dt>
                                <dd>
                                    <img src="@Model.ImagePath" alt="@Model.BranchName" width="25%">
                                </dd>

                                <dt>
                                    @Html.DisplayName("Address Line 1")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.AddressLine1)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Address Line 2")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.AddressLine2)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Email")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Email)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Phone")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Phone)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Google Direction")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.GoogleMap)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Master Id")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MasterId)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Language")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LanguageName)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Status")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.StatusText)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Last Update")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LastUpdatedText)
                                </dd>


                            </dl>

                        </div>
                       
                        <div class="card-footer">
                            <p>
                                <a href='@Url.Action("AddNew", "Branch",new { bid = Model.Id })'>Edit The Main</a>  |  <a href='@Url.Action("Index", "Branch")'>Back to List</a>
                            </p>
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </section>
    
</div>


