﻿@model CMS.Dto.OpeningHourDto
@{
    ViewBag.Title = "Opening Hour Details";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Opening Hour Details
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item">
                                    @Html.ActionLink("Home", "Index", "Home")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">
                                    @Html.ActionLink(Model.BranchName, "Details", new { bid = Model.BranchId });

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">More Information</li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <a href='@Url.Action("Details", "Branch", new { bid=Model.BranchId})'>Back to List</a>
                </div>
            </div>
        </div>
    </section>
    <section class="statistic">
        <div class="container">
            <form>
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <strong>Content Details</strong>
                        </div>
                        <div class="card-body card-block">
                            <dl class="dl-horizontal">

                                <dt>
                                    @Html.DisplayName("Days")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DayText)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Meal")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MealName)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Timings")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TimingText)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Branch")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.BranchName)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Master Id")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MasterId)
                                </dd>


                                <dt>
                                    @Html.DisplayName("Sort Order")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SortIndex)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Language")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LanguageName)
                                </dd>


                            </dl>

                        </div>

                        <div class="card-footer">
                            <p>
                                <a href='@Url.Action("AddOpeningHour", "Branch",new { oid = Model.Id })'>Edit</a>  |  <a href='@Url.Action("Details", "Branch" , new { bid = Model.BranchId })'>Back to List</a>
                            </p>
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </section>

</div>

