<div class="sidebar-widget">
    <h5 class="widget-title"> Category </h5>
    <ul class="sidebar-widget-list">
      <li>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Food</label>
        </div>
      </li>
      <li>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2">
          <label class="custom-control-label" for="customCheck2">Keto</label>
        </div>
      </li>
      <li>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck3">
          <label class="custom-control-label" for="customCheck3">Baskets</label>
        </div>
      </li>
      <li>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck4">
          <label class="custom-control-label" for="customCheck4">Baby & Kids Care</label>
        </div>
      </li>
      <li>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck5">
          <label class="custom-control-label" for="customCheck5">Home Care</label>
        </div>
      </li>
      <li>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck6">
          <label class="custom-control-label" for="customCheck6">Supplements</label>
        </div>
      </li>
    </ul>

  </div>