﻿@model CMS.Dto.ProductContentDto
@{
    ViewBag.Title = "Add New Content";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
    var proid = (Model != null ? Model.ProductId : ViewBag.ProductId);
}

<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Add Product Content
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item">
                                    @Html.ActionLink("Home", "Index", "Home")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">
                                    @if (Model != null)
                                    {
                                        @Html.ActionLink(Model.ProductName, "Details", new { lid = Model.ProductId });
                                    }

                                    else
                                    {
                                        <a href='@Url.Action("Details", "Product", new { pid=proid})'>@ViewBag.ProductName</a>
                                    }

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">Add New</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <a href="@Url.Action("Details", "Product", new { pid = proid })">
                        Back to List
                    </a>

                </div>
            </div>
        </div>
    </section>
    <section class="statistic">
        <div class="container">
            <form id="save_form">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <strong>Add Form</strong>
                        </div>
                        <div class="card-body card-block">

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "form-control-label" })
                                    @Html.HiddenFor(model => model.Id)

                                    @Html.Hidden("ProductId", (object)proid)
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.SubTitle, "Sub Title", htmlAttributes: new { @class = "form-control-label" })
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextBoxFor(model => model.SubTitle, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.ContentType, "Content Type", htmlAttributes: new { @class = "form-control-label" })

                                </div>
                                <div class="col-12 col-md-9">

                                    @Html.DropDownListFor(x => x.ContentType, new SelectList(ViewBag.ContentTypes, "Id", "Category"), new { @class = "form-control" })
                                    <small class="form-text text-muted">please select the type</small>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.Details, "Big Text", htmlAttributes: new { @class = "form-control-label" })

                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextAreaFor(model => model.Details, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.Image, "Image", htmlAttributes: new { @class = "form-control-label" })

                                </div>
                                <div class="col-12 col-md-9">
                                    @if (Model != null)
                                    {
                                        <img src="@Model.ImagePath" width="25%" />
                                    }
                                    <input type="file" id="Image" class="form-control-file">
                                    <small class="form-text text-muted">This is image</small>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.ImageAltText, "Image Alt-Text", htmlAttributes: new { @class = "form-control-label" })

                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextBoxFor(model => model.ImageAltText, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.GalleryId, "Gallery(If any?)", htmlAttributes: new { @class = "form-control-label" })

                                </div>
                                <div class="col-12 col-md-9">

                                    @Html.DropDownListFor(x => x.GalleryId, new SelectList(ViewBag.Galleries, "Id", "Title"), new { @class = "form-control" })
                                    <small class="form-text text-muted">please select the parent</small>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "form-control-label" })

                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.DropDownListFor(x => x.Status, EnumHelper.GetSelectList(typeof(CMS.Infrastructure.EntityStatus)), new { @class = "form-control" })
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="button" id="btnSave" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>

                        </div>
                    </div>

                </div>

            </form>

        </div>

        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="smallmodalLabel">Response</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="successModalText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<script type="text/javascript">
    
    window.onload = function () {
        CKEDITOR.replace('Details');
    };
   
</script>
<script>
    $('#btnSave').on('click', function () {
        var data = CKEDITOR.instances['Details'].getData();
        $('#' + 'Details').html(data);
        var photoFile = $('#Image').prop('files')[0];
        var form = document.getElementById('save_form');
        var form_data = new FormData(form);
        form_data.append('Image', photoFile);
       
        $.ajax({
            type: "POST",
            url: '/Admin/Product/SaveContent',
            data: form_data,
            processData: false,
            contentType: false,
            success: function (data) {
                $('#successModal').modal('show');
                $('#successModalText').text(data.Message);

            },
            error: function () {
                $('#successModal').modal('show');
                $('#successModalText').text(error.status + "<--save and--> " + error.statusText);

            }
        });
    });
</script>

