﻿@model IEnumerable<CMS.Dto.ProductDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

    <div class="page-content--bgf7 main-content">
        <!-- END BREADCRUMB-->
        <!-- WELCOME-->
        <section class="welcome p-t-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title-4">
                            @ViewBag.CategoryName
                        </h1>
                        <hr class="line-seprate">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="list-inline-item seprate">
                                        <span>></span>
                                    </li>
                                    <li class="list-inline-item">
                                        @Html.ActionLink((string)ViewBag.CategoryName, "Index", "Product", new { catid = ViewBag.CatId }, null)
                                    </li>
                                    <li class="list-inline-item seprate">
                                        <span>></span>
                                    </li>
                                    <li class="list-inline-item">Products</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END WELCOME-->
        <section class="statistic">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- DATA TABLE -->

                        <div class="table-data__tool">

                            <div class="table-data__tool-right">
                                <a href="@Url.Action("AddNew", "Product", new { catid = ViewBag.CatId })" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    Add New
                                    <i class="zmdi zmdi-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        
                                        <th>Category</th>
                                        <th>Image</th>
                                        <th>UoM</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                    <tr class="tr-shadow">

                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        
                                        <td>@Html.DisplayFor(modelItem => item.ProductCategoryName)</td>
                                        <td> <img src="@item.ThumbImagePath" width="25%" /></td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.UoMText)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StatusText)
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" onclick="location.href='@Url.Action("AddNew", "Product", new { catid = item.CategoryId , pid = item.Id })';return false;" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </button>
                                                <button onclick="DeleteList(@item.Id)" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                                <button class="item" onclick="location.href='@Url.Action("Details", "Product", new { pid = item.Id })';return false;" data-toggle="tooltip" data-placement="top" title="More">
                                                    <i class="zmdi zmdi-more"></i>
                                                </button>

                                            </div>
                                        </td>
                                    </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE -->
                    </div>
                </div>
            </div>
            <div id="successModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Response</h4>
                        </div>
                        <div class="modal-body" align="center">
                            <p id="successModalText"></p>
                            <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
        DeleteList = function (id) {
            console.log(id);
            $.ajax({
                type: "POST",
                url: '/Admin/Product/RemoveProduct',
                data: { mid: id },
                DataType: 'json',
                success: function (data) {
                    $('#successModal').modal('show');
                    $('#successModalText').text(data.Message);

                },
                error: function () {
                    $('#successModal').modal('show');
                    $('#successModalText').text(error.status + "<--save and--> " + error.statusText);

                }
            });
        }

        </script>
    </div>

