﻿<script src="~/Areas/Admin/js/data/productinventory.js"></script>

<script src="~/Areas/Admin/js/validate.js"></script>
@{
    ViewBag.Title = "InventoryStock";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutjqGrid.cshtml";
}
<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Product Inventory by Category
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#">Home</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Inventory</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END WELCOME-->
    <section class="statistic">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->


                    <table id="jqGrid"></table>
                    <div id="jqControls"></div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
        </div>

    </section>

</div>


