<div class="section section-padding category_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4" *ngFor="let cat of categories">
                <div class="andro_icon-block text-center has-link">
                    <a href="#">
                        <i class="flaticon-diet"></i>
                        <h5>{{cat.CategoryName}}</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>