﻿@model CMS.Dto.BlogDto
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Blog Details
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item">
                                    @Html.ActionLink("Home", "Index", "Home")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">More Information</li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <a href='@Url.Action("Index", "Blog")'>Back to List</a>
                </div>
            </div>
        </div>
    </section>
    <section class="statistic">
        <div class="container">
            <form>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Blog Details</strong>
                        </div>
                        <div class="card-body card-block">
                            <dl class="dl-horizontal">

                                <dt>
                                    @Html.DisplayName("Title")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Title)
                                </dd>


                                <dt>
                                    @Html.DisplayName("Sub Title")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SubTitle)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Author")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Author)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Samll Text")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SmallDetails)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Thumb Image")
                                </dt>

                                <dd>
                                    <img src="@Model.ThumbImagePath" alt="@Model.ImageAltText" width="25%">
                                </dd>
                                <dt>
                                    @Html.DisplayName("Image Alt Text")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ImageAltText)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Published Date")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PublishedDateText)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Master Id")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MasterId)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Language")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LanguageName)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Status")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.StatusText)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Last Update")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LastUpdateText)
                                </dd>


                            </dl>

                        </div>
                        <div class="card-header">
                            <strong>Page Contents</strong>
                            <a href="@Url.Action("AddNewContent", "Blog", new { lid = Model.Id })" class="au-btn au-btn-icon au-btn--green au-btn--small right">
                                Add Text
                                <i class="zmdi zmdi-plus"></i>
                            </a>
                        </div>

                        <div class="table-responsive table-responsive-data2">

                            <table class="table table-data2">
                                <thead>
                                    <tr>

                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>SubTitle</th>
                                        <th>Image</th>
                                        <th>Sort Index</th>
                                        <th>Last Updated</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.BlogContents != null)
                                    {
                                        foreach (CMS.Dto.BlogContentDto item in Model.BlogContents)
                                        {
                                            <tr class="tr-shadow">

                                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td class="desc">@Html.DisplayFor(modelItem => item.SubTitle)</td>
                                                <td> <img src="@item.ImagePath" alt="@item.ImageAltText"></td>
                                                <td>@Html.DisplayFor(modelItem => item.SortIndex)</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LastUpdateText)
                                                </td>

                                                <td>
                                                    <div class="table-data-feature">
                                                        <button class="item" onclick="location.href='@Url.Action("AddNewContent", "Blog", new { contid = item.Id })';return false;" data-toggle="tooltip" data-placement="top" title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                        <form id="delete-form">
                                                            <input type="hidden" id="contid" name="contid" value="@item.Id" />
                                                            <button type="submit" class="item" id="btnSend" title="Delete"><i class="zmdi zmdi-delete"></i></button>
                                                        </form>
                                                        <button class="item" onclick="location.href='@Url.Action("ContentDetails", "Blog", new { contid = item.Id })';return false;" data-toggle="tooltip" data-placement="top" title="More">
                                                            <i class="zmdi zmdi-more"></i>
                                                        </button>

                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <p>
                                <a href='@Url.Action("AddNew", "Blog",new { lid = Model.Id })'>Edit The Main</a>  |  <a href='@Url.Action("Index", "Blog")'>Back to List</a>
                            </p>
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </section>
    <script>
        $('#btnSend').on('click', function () { //ref from Larssons Contact Form
            if ($("#delete-form").length) {
                var form = document.getElementById('delete-form');

                var form_data = new FormData(form);
                console.log(form_data);
                $.ajax({
                    type: "POST",
                    url: "/Admin/Blog/RemoveContent",
                    data: form_data,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $('#successModal').modal('show');
                        $('#successModalText').text(data.Message);

                    },
                    error: function () {
                        $('#successModal').modal('show');
                        $('#successModalText').text(error.status + "<--save and--> " + error.statusText);
                    }
                });
                return false; // required to block normal submit since you used ajax

            }
        });
    </script>
</div>


