<div class="modal fade" id="androNewsletterPopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog andro_newsletter-popup-modal modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img src="assets/img/ig/3.jpg" alt="newsletter">
          <div class="close-btn close newsletter-popup-trigger" data-dismiss="modal">
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="modal-body">

          <div class="andro_newsletter-popup-text-wrapper">
            <h3>Join Our Newsletter</h3>
            <p>Sed porttitor lectus nibh. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur aliquet quam id dui posuere.</p>
          </div>
          <form  class="text-center" [formGroup]="contactusform" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="email" placeholder="Email Address" class="form-control" formControlName="Email" value="">
            </div>
            <button type="submit" class="andro_btn-custom" name="button">Subscribe</button>
            <span class="newsletter-popup-trigger" data-dismiss="modal">No Thanks</span>
          </form>
        </div>
      </div>
    </div>
  </div>
