<div class="section section-padding pt-0">
  <div class="container flex">
    <div class="row">
      <div class="col-lg-4" *ngFor="let feat of features">
        <div class="andro_icon-block icon-block-2" >
          <i class='{{feat.SubTitle}}'></i>
          <h5>{{feat.Title}}</h5>
          <p>{{feat.SmallText}}</p>
        </div>
      </div>
    </div>
  </div>
</div>