﻿@model IEnumerable<CMS.Dto.TagDto>

@{
    ViewBag.Title = "Blog Tags";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}
    <div class="page-content--bgf7 main-content">

        <!-- END BREADCRUMB-->
        <!-- WELCOME-->
        <section class="welcome p-t-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title-4">
                            Blog Tags
                        </h1>
                        <hr class="line-seprate">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb-content">
                            <div class="au-breadcrumb-left">
                                <span class="au-breadcrumb-span">You are here:</span>
                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                    <li class="list-inline-item active">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="list-inline-item seprate">
                                        <span>/</span>
                                    </li>
                                    <li class="list-inline-item">Blog Tags</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END WELCOME-->
        <section class="statistic">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- DATA TABLE -->

                        <div class="table-data__tool">

                            <div class="table-data__tool-right">
                                <a href="@Url.Action("AddNew", "Settings")" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    Add Tag
                                    <i class="zmdi zmdi-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2">
                                <thead>
                                    <tr>

                                        <th>Id</th>
                                        <th>Tag</th>
                                        <th>Tag Type</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr class="tr-shadow">

                                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Tag1)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TypeName)
                                                </td>

                                                <td>
                                                    <div class="table-data-feature">
                                                        <button class="item" onclick="location.href='@Url.Action("AddNew", "Settings",new { tid = item.Id })';return false;" data-toggle="tooltip" data-placement="top" title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                        
                                                        <form id="delete-form">
                                                            <input type="hidden" id="id" name="id" value="@item.Id" />
                                                            <button type="submit" class="item" id="btnSend" title="Delete"><i class="zmdi zmdi-delete"></i></button>
                                                        </form>
                                                        <button class="item" onclick="location.href='@Url.Action("Details", "Settings",new { tid = item.Id })';return false;" data-toggle="tooltip" data-placement="top" title="More">
                                                            <i class="zmdi zmdi-more"></i>
                                                        </button>

                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE -->
                    </div>
                </div>
            </div>
            <div id="successModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Response</h4>
                        </div>
                        <div class="modal-body" align="center">
                            <p id="successModalText"></p>
                            <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        <script>
            $('#btnSend').on('click', function () { //ref from Larssons Contact Form
                if ($("#delete-form").length) {
                    var form = document.getElementById('delete-form');
                    var form_data = new FormData(form);
                    console.log(form_data);
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Settings/RemoveTag",
                        data: form_data,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            $('#successModal').modal('show');
                            $('#successModalText').text(data.Message);

                        },
                        error: function () {
                            $('#successModal').modal('show');
                            $('#successModalText').text(error.status + "<--save and--> " + error.statusText);
                        }
                    });
                    return false; // required to block normal submit since you used ajax

                }
            });
        </script>
        
    </div>


