﻿@model CMS.Dto.ContentDto
@{
    ViewBag.Title = "Content Details";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Content Details
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item">
                                    @Html.ActionLink("Home", "Index", "Home")
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">
                                    @Html.ActionLink("Pages", "Index", "Html")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">
                                    @Html.ActionLink(Model.HtmlTitle + " Page", "Details", new { htmlid = Model.HtmlID })

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">More Information</li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <a href='@Url.Action("Details", "Html", new { htmlid=Model.HtmlID})'>Back to List</a>
                </div>
            </div>
        </div>
    </section>
    <section class="statistic">
        <div class="container">
            <form>
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <strong>Content Details</strong>
                        </div>
                        <div class="card-body card-block">
                            <dl class="dl-horizontal">

                                <dt>
                                    @Html.DisplayName("Content Title")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Title)
                                </dd>


                                <dt>
                                    @Html.DisplayName("Sub Title")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SubTitle)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Small Text")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SmallText)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Details")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.BigText)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Image")
                                </dt>

                                <dd>
                                    <img src="@Model.ImagePath" alt="@Model.Title">
                                </dd>
                                <dt>
                                    @Html.DisplayName("External Link")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Link)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Gallery")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.GalleryName)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Sort Order")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SortIndex)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Status")
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.StatusText)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Last Update")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LastUpdateText)
                                </dd>


                            </dl>

                        </div>

                        <div class="card-footer">
                            <p>
                                <a href='@Url.Action("AddNewContent", "Html",new { contid = Model.Id })'>Edit</a>  |  <a href='@Url.Action("Details", "Html", new { htmlid = Model.HtmlID })'>Back to List</a>
                            </p>
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </section>

</div>

