 <!-- Aside (Mobile Navigation) -->
 <aside class="andro_aside andro_aside-left">
    <a class="navbar-brand" href="index.html"> <img src="~/assets/img/logo.png" alt="logo"> </a>

    <ul>
        <li class="menu-item">
            <a href="index.html">Home</a>
            <!--<ul class="sub-menu">
            <li class="menu-item"> <a href="index.html">Home v1</a> </li>
            <li class="menu-item"> <a href="home-v2.html">Home v2</a> </li>
            <li class="menu-item"> <a href="home-v3.html">Home v3</a> </li>
          </ul>-->
        </li>
        <li class="menu-item">
            <a href="about-us.html">About Us</a>

        </li>
        <li class="menu-item">
            <a href="shop-v2.html">Shop</a>

        </li>

        <li class="menu-item"> <a href="contact-us.html">Contact Us</a> </li>
    </ul>

</aside>
<div class="andro_aside-overlay aside-trigger-left"></div>

<!-- Header Start -->
<app-header></app-header>
<!-- Header End -->

<!-- Subheader Start -->
<div class="andro_subheader pattern-bg primary-bg">
  <div class="container">
    <div class="andro_subheader-inner">
      <h1>Shop with us</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Shop</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<!-- Subheader End -->
<!-- Products Start -->
<div class="section">
    <div class="andro_section-fw">

      <div class="row">
        <div class="col-lg-9">

          <!-- Product Count & Orderby Start -->
          <div class="andro_shop-global">
            <p>Showing <b>20</b> of <b>320</b> products </p>
            <form method="post">
              <select class="form-control" name="orderby">
                <option value="default">Default sorting</option>
                <option value="latest">Latest release</option>
                <option value="price-down">Price: High - Low</option>
                <option value="price-up">Price: Low - High</option>
                <option value="popularity">Popularity Sorting</option>
              </select>
            </form>
          </div>
          <!-- Product Count & Orderby End -->

          <div class="row masonry">

            <!-- Product Start -->
            <div class="col-md-3 col-sm-4 masonry-item">
              <div class="andro_product andro_product-minimal andro_product-has-controls andro_product-has-buttons">
                <div class="andro_product-badge andro_badge-featured">
                  <i class="fa fa-star"></i>
                  <span>Featured</span>
                </div>
                <div class="andro_product-thumb">
                  <a href="product-single.html"><img src="assets/img/products/7.png" alt="product"></a>
                </div>
                <div class="andro_product-body">
                  <h6 class="andro_product-title"> <a href="product-single.html"> Ginger </a> </h6>
                  <div class="andro_rating-wrapper">
                    <div class="andro_rating">
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <div class="andro_product-footer">
                  <div class="andro_product-price">
                    <span>19$</span>
                    <span>29$</span>
                  </div>
                  <div class="andro_product-buttons">
                    <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                    <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-3 col-sm-4 masonry-item">
              <div class="andro_product andro_product-minimal andro_product-has-controls andro_product-has-buttons">
                <div class="andro_product-thumb">
                  <a href="product-single.html"><img src="assets/img/products/8.png" alt="product"></a>
                </div>
                <div class="andro_product-body">
                  <h6 class="andro_product-title"> <a href="product-single.html"> Lettuce </a> </h6>
                  <div class="andro_rating-wrapper">
                    <div class="andro_rating">
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <div class="andro_product-footer">
                  <div class="andro_product-price">
                    <span>8$</span>
                  </div>
                  <div class="andro_product-buttons">
                    <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                    <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-3 col-sm-4 masonry-item">
              <div class="andro_product andro_product-minimal andro_product-has-controls andro_product-has-buttons">
                <div class="andro_product-thumb">
                  <a href="product-single.html"><img src="assets/img/products/9.png" alt="product"></a>
                </div>
                <div class="andro_product-body">
                  <h6 class="andro_product-title"> <a href="product-single.html"> Tomatoes </a> </h6>
                  <div class="andro_rating-wrapper">
                    <div class="andro_rating">
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <div class="andro_product-footer">
                  <div class="andro_product-price">
                    <span>6$</span>
                    <span></span>
                  </div>
                  <div class="andro_product-buttons">
                    <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                    <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-3 col-sm-4 masonry-item">
              <div class="andro_product andro_product-minimal andro_product-has-controls andro_product-has-buttons">
                <div class="andro_product-thumb">
                  <a href="product-single.html"><img src="assets/img/products/10.png" alt="product"></a>
                </div>
                <div class="andro_product-badge andro_badge-sale">
                  20% Off
                </div>
                <div class="andro_product-body">
                  <h6 class="andro_product-title"> <a href="product-single.html"> Corn </a> </h6>
                  <div class="andro_rating-wrapper">
                    <div class="andro_rating">
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                    </div>
                  </div>
                </div>
                <div class="andro_product-footer">
                  <div class="andro_product-price">
                    <span>19$</span>
                  </div>
                  <div class="andro_product-buttons">
                    <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                    <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-3 col-sm-4 masonry-item">
              <div class="andro_product andro_product-minimal andro_product-has-controls andro_product-has-buttons">
                <div class="andro_product-badge andro_badge-featured">
                  <i class="fa fa-star"></i>
                  <span>Featured</span>
                </div>
                <div class="andro_product-thumb">
                  <a href="product-single.html"><img src="assets/img/products/11.png" alt="product"></a>
                </div>
                <div class="andro_product-body">
                  <h6 class="andro_product-title"> <a href="product-single.html"> Onions </a> </h6>
                  <div class="andro_rating-wrapper">
                    <div class="andro_rating">
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <div class="andro_product-footer">
                  <div class="andro_product-price">
                    <span>13$</span>
                  </div>
                  <div class="andro_product-buttons">
                    <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                    <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-3 col-sm-4 masonry-item">
              <div class="andro_product andro_product-minimal andro_product-has-controls andro_product-has-buttons">
                <div class="andro_product-thumb">
                  <a href="product-single.html"><img src="assets/img/products/12.png" alt="product"></a>
                </div>
                <div class="andro_product-body">
                  <h6 class="andro_product-title"> <a href="product-single.html"> Brocolis </a> </h6>
                  <div class="andro_rating-wrapper">
                    <div class="andro_rating">
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <div class="andro_product-footer">
                  <div class="andro_product-price">
                    <span>19$</span>
                    <span>29$</span>
                  </div>
                  <div class="andro_product-buttons">
                    <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                    <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-3 col-sm-4 masonry-item">
              <div class="andro_product andro_product-minimal andro_product-has-controls andro_product-has-buttons">
                <div class="andro_product-thumb">
                  <a href="product-single.html"><img src="assets/img/products/2.png" alt="product"></a>
                </div>
                <div class="andro_product-body">
                  <h6 class="andro_product-title"> <a href="product-single.html"> Kiwi & Strawberry </a> </h6>
                  <div class="andro_rating-wrapper">
                    <div class="andro_rating">
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <div class="andro_product-footer">
                  <div class="andro_product-price">
                    <span>19$</span>
                    <span>29$</span>
                  </div>
                  <div class="andro_product-buttons">
                    <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                    <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-3 col-sm-4 masonry-item">
              <div class="andro_product andro_product-minimal andro_product-has-controls andro_product-has-buttons">
                <div class="andro_product-thumb">
                  <a href="product-single.html"><img src="assets/img/products/4.png" alt="product"></a>
                </div>
                <div class="andro_product-body">
                  <h6 class="andro_product-title"> <a href="product-single.html"> Cucumber </a> </h6>
                  <div class="andro_rating-wrapper">
                    <div class="andro_rating">
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <div class="andro_product-footer">
                  <div class="andro_product-price">
                    <span>29$</span>
                  </div>
                  <div class="andro_product-buttons">
                    <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                    <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-3 col-sm-4 masonry-item">
              <div class="andro_product andro_product-minimal andro_product-has-controls andro_product-has-buttons">
                <div class="andro_product-thumb">
                  <a href="product-single.html"><img src="assets/img/products/5.png" alt="product"></a>
                </div>
                <div class="andro_product-body">
                  <h6 class="andro_product-title"> <a href="product-single.html"> Watermelons </a> </h6>
                  <div class="andro_rating-wrapper">
                    <div class="andro_rating">
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <div class="andro_product-footer">
                  <div class="andro_product-price">
                    <span>29$</span>
                  </div>
                  <div class="andro_product-buttons">
                    <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                    <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-3 col-sm-4 masonry-item">
              <div class="andro_product andro_product-minimal andro_product-has-controls andro_product-has-buttons">
                <div class="andro_product-thumb">
                  <a href="product-single.html"><img src="assets/img/products/6.png" alt="product"></a>
                </div>
                <div class="andro_product-body">
                  <h6 class="andro_product-title"> <a href="product-single.html"> Oranges </a> </h6>
                  <div class="andro_rating-wrapper">
                    <div class="andro_rating">
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <div class="andro_product-footer">
                  <div class="andro_product-price">
                    <span>29$</span>
                  </div>
                  <div class="andro_product-buttons">
                    <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                    <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-3 col-sm-4 masonry-item">
              <div class="andro_product andro_product-minimal andro_product-has-controls andro_product-has-buttons">
                <div class="andro_product-thumb">
                  <a href="product-single.html"><img src="assets/img/products/14.png" alt="product"></a>
                </div>
                <div class="andro_product-body">
                  <h6 class="andro_product-title"> <a href="product-single.html"> Grapes </a> </h6>
                  <div class="andro_rating-wrapper">
                    <div class="andro_rating">
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <div class="andro_product-footer">
                  <div class="andro_product-price">
                    <span>29$</span>
                  </div>
                  <div class="andro_product-buttons">
                    <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                    <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End -->

            <!-- Product Start -->
            <div class="col-md-3 col-sm-4 masonry-item">
              <div class="andro_product andro_product-minimal andro_product-has-controls andro_product-has-buttons">
                <div class="andro_product-thumb">
                  <a href="product-single.html"><img src="assets/img/products/15.png" alt="product"></a>
                </div>
                <div class="andro_product-body">
                  <h6 class="andro_product-title"> <a href="product-single.html"> Apricots </a> </h6>
                  <div class="andro_rating-wrapper">
                    <div class="andro_rating">
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star active"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <div class="andro_product-footer">
                  <div class="andro_product-price">
                    <span>13$</span>
                  </div>
                  <div class="andro_product-buttons">
                    <a href="#" class="andro_btn-custom primary">Add To Cart</a>
                    <a href="#" data-toggle="modal" data-target="#quickViewModal" class="andro_btn-custom light">Quick View</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Product End -->

          </div>

          <!-- Pagination Start -->
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
          </ul>
          <!-- Pagination End -->

        </div>

        <!-- Sidebar Start -->
        <div class="col-lg-3">
          <div class="sidebar">

            <!-- Search Start -->
            <div class="sidebar-widget widget-search">
              <form method="post">
                <div class="andro_search-adv-input">
                  <input type="text" class="form-control" placeholder="Look for Fruits, Vegetables" name="search" value="">
                  <button type="submit" name="button"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
            <!-- Search End -->

            <!-- Filter: Categories Start -->
            <div class="sidebar-widget">
              <h5 class="widget-title"> Category </h5>
              <ul class="sidebar-widget-list">
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Food</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">Keto</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3">Baskets</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">Baby & Kids Care</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                    <label class="custom-control-label" for="customCheck5">Home Care</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                    <label class="custom-control-label" for="customCheck6">Supplements</label>
                  </div>
                </li>
              </ul>

            </div>
            <!-- Filter: Categories End -->

            <!-- Filter: Condition Start -->
            <div class="sidebar-widget">
              <h5 class="widget-title"> Condition </h5>
              <ul class="sidebar-widget-list">
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck7">
                    <label class="custom-control-label" for="customCheck7">Daily Deal</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck8">
                    <label class="custom-control-label" for="customCheck8">On Sale</label>
                  </div>
                </li>
              </ul>

            </div>
            <!-- Filter: Condition End -->

            <!-- Filter: State Start -->
            <div class="sidebar-widget">
              <h5 class="widget-title"> Brand </h5>
              <ul class="sidebar-widget-list">
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck9">
                    <label class="custom-control-label" for="customCheck9">Green Life</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck10">
                    <label class="custom-control-label" for="customCheck10">Whole Foods</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck11">
                    <label class="custom-control-label" for="customCheck11">Shrubbery co.</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck12">
                    <label class="custom-control-label" for="customCheck12">Better Life</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck13">
                    <label class="custom-control-label" for="customCheck13">Organica</label>
                  </div>
                </li>
              </ul>

            </div>
            <!-- Filter: State End -->

            <!-- Filter: Freshness Start -->
            <div class="sidebar-widget">
              <h5 class="widget-title"> Freshness </h5>
              <input type="text" class="js-range-slider" name="freshness_range" value="" data-type="double" data-min="0" data-max="10" data-from="4" data-to="6" data-grid="true" data-postfix=" days" />
            </div>
            <!-- Filter: Freshness End -->

            <!-- Filter: Price Start -->
            <div class="sidebar-widget">
              <h5 class="widget-title"> Price </h5>
              <input type="text" class="js-range-slider" name="freshness_range" value="" data-type="double" data-min="0" data-max="500" data-from="10" data-to="100" data-grid="true" data-postfix=" $" />
            </div>
            <!-- Filter: Price End -->

          </div>
        </div>
        <!-- Sidebar End -->

      </div>

    </div>
  </div>
  <!-- Products End -->
  <app-gallery></app-gallery>
