﻿@model CMS.Dto.PromotionalPriceDto
@{
    ViewBag.Title = "AddNewPrice";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
    var promoid = ViewBag.PromotionId;
}
<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Add Promotional Price
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item">
                                    @Html.ActionLink("Promotions", "Index", "Promotions")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">
                                    @if (Model != null)
                                    {
                                        @Html.ActionLink(Model.PromotionTitle, "Details", new { promoid = Model.PromotionId });
                                    }

                                    else
                                    {
                                        <a href='@Url.Action("Details", "Promotions", new { promoid=ViewBag.PromotionId})'>@ViewBag.PromotionTitle</a>
                                    }

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">Add New</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    @if (Model != null)
                    {
                        @Html.ActionLink("Back to List", "Details", new { promoid = Model.PromotionId });
                    }
                    else
                    {
                    <a href='@Url.Action("Details", "Promotions", new { promoid=ViewBag.PromotionId})'>Back to List</a>
                    }
                </div>
            </div>
        </div>
    </section>
    <section class="statistic">
        <div class="container">
            <form id="save_form">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <strong>Add Form</strong>
                        </div>
                        <div class="card-body card-block">

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "form-control-label" })
                                    @Html.HiddenFor(model => model.Id)

                                    @Html.Hidden("PromotionId", (object)promoid)
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.DropDownListFor(x => x.PromotionId, new SelectList(ViewBag.Products, "Id", "Name"), new { @class = "form-control" })
                                    <small class="form-text text-muted">please select the product</small>

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.BasePrice, "Base Price", htmlAttributes: new { @class = "form-control-label" })
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextBoxFor(model => model.BasePrice, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.Discount, "Discount(%)", htmlAttributes: new { @class = "form-control-label" })

                                </div>
                                <div class="col-12 col-md-9">

                                    @Html.DropDownListFor(x => x.Discount, new SelectList(ViewBag.ContentTypes, "Id", "Category"), new { @class = "form-control" })
                                    <small class="form-text text-muted">please select the type</small>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.FlatAmount, "Small Text", htmlAttributes: new { @class = "form-control-label" })

                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextBoxFor(model => model.FlatAmount, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" id="btnSave" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>

                        </div>
                    </div>

                </div>

            </form>

        </div>

        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="smallmodalLabel">Response</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="successModalText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<script>
    $('#btnSave').on('click', function () {
        
        var form = document.getElementById('save_form');
        var form_data = new FormData(form);
       
        $.ajax({
            type: "POST",
            url: '/Admin/Promotions/SavePrice',
            data: form_data,
            processData: false,
            contentType: false,
            success: function (data) {
                $('#successModal').modal('show');
                $('#successModalText').text(data.Message);

            },
            error: function () {
                $('#successModal').modal('show');
                $('#successModalText').text(error.status + "<--save and--> " + error.statusText);

            }
        });
    });
</script>

