﻿@model CMS.Dto.PromotionDto
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Promotion Details
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item">
                                    @Html.ActionLink("Home", "Index", "Home")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">More Information</li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <a href='@Url.Action("Index", "Promotions")'>Back to List</a>
                </div>
            </div>
        </div>
    </section>
    <section class="statistic">
        <div class="container">
            <form>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Promotion Details</strong>
                        </div>
                        <div class="card-body card-block">
                            <dl class="dl-horizontal">

                                <dt>
                                    @Html.DisplayName("Title")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PromotionTitle)
                                </dd>


                                <dt>
                                    @Html.DisplayName("Small Details")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SmallDetails)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Promotion Type")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PromotionType)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Thumb Image")
                                </dt>

                                <dd>
                                    <img src="@Model.ImagePath" alt="@Model.PromotionTitle" width="25%">
                                </dd>
                                <dt>
                                    @Html.DisplayName("Start Date")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.StartDateText)
                                </dd>
                                <dt>
                                    @Html.DisplayName("End Date")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.EndDateText)
                                </dd>
                                <dt>
                                    @Html.DisplayName("Sort Index")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SortIndex)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Status")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.StatusText)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Last Updated")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LastUpdatedText)
                                </dd>


                            </dl>

                        </div>
                        
                        <div class="card-footer">
                            <p>
                                <a href='@Url.Action("AddNew", "Promotions",new { promoid = Model.Id })'>Edit This</a>  |  <a href='@Url.Action("Index", "Promotions")'>Back to List</a>
                            </p>
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </section>
    
</div>

