<div class="andro_banner banner-2">
    <ngx-slick-carousel class="andro_banner-slider"  #slickModal="slick-carousel" 
  [config]="slideConfig" 
  (init)="slickInit($event)">
        <div ngxSlickItem class="andro_banner-slider-inner slide" style="background-image: url('assets/img/banner/1.jpg');"  *ngFor="let ban of banners">
            <div class="container">
                <div class="andro_banner-slider-text">
                    <img src="assets/img/products/8.png" class="img-1" alt="product">
                    <p>{{ban.SubTitle}}</p>
                    <h1 style="background-image: url('assets/img/cta/3.jpg') "> {{ban.Title}} </h1>
                    <p>{{ban.SmallText}}</p>
                    <a href='{{ban.Link}}' class="andro_btn-custom">Shop Now</a>
                </div>
            </div>
          </div>
  </ngx-slick-carousel>
  </div>

