 <!-- Footer Start -->
<footer class="andro_footer andro_footer-dark">
  <!-- Top Footer -->
  <div class="container">
    <div class="andro_footer-top">
      <div class="andro_footer-logo">
        <img src="assets/img/logo.png" alt="logo">
      </div>

    </div>
  </div>

  <!-- Middle Footer -->
  <div class="andro_footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
          <h5 class="widget-title">Information</h5>
          <ul>
            <li> <a href="/home">Home</a> </li>
            <li> <a href="/about">About Us</a> </li>
            <li> <a href="/shop">Shop</a> </li>
            <li> <a href="/contact-us">Contact Us</a> </li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
          <h5 class="widget-title">Top Categories</h5>
          <ul>
            <li> <a href="#">Food</a> </li>
            <li> <a href="#">Baskets</a> </li>
            <li> <a href="#">Supplements</a> </li>
            <li> <a href="#">Keto</a> </li>
            <li> <a href="#">Home Care</a> </li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
          <h5 class="widget-title">Others</h5>
          <ul>
            <li> <a href="checkout.html">Checkout</a> </li>
            <li> <a href="cart.html">Cart</a> </li>
            <li> <a href="product-single.html">Product</a> </li>

          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 footer-widget">
          <h5 class="widget-title">Social Media</h5>
          <ul class="social-media">
            <li> <a href="#" class="facebook"> <i class="fab fa-facebook-f"></i> </a> </li>
            <li> <a href="#" class="pinterest"> <i class="fab fa-pinterest-p"></i> </a> </li>
            <li> <a href="#" class="google"> <i class="fab fa-google"></i> </a> </li>
            <li> <a href="#" class="twitter"> <i class="fab fa-twitter"></i> </a> </li>
          </ul>
          <div class="andro_footer-offer">
            <p>Signup and get exclusive offers and coupon codes</p>
            <a href="register" class="andro_btn-custom btn-sm shadow-none">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="andro_footer-bottom">
    <div class="container">
      <ul>
        <li> <a href="/privacy-policy">Privacy Policy</a> </li>
        <li> <a href="/legal">Refund Policy</a> </li>
        <li> <a href="/legal">Terms & Conditions</a> </li>
      </ul>
      <div class="andro_footer-copyright">
        <p> Copyright © 2020 <a href="#">AndroThemes</a> All Rights Reserved. </p>
        <a href="#" class="andro_back-to-top">Back to top <i class="fas fa-chevron-up"></i> </a>
      </div>
    </div>
  </div>

</footer>
<!-- Footer End -->
