﻿@model CMS.Dto.BrandDto
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Details
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item">
                                    @Html.ActionLink("Home", "Index", "Home")
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">
                                    @if (Model.TypeId == CMS.Infrastructure.BrandType.Buyers)
                                    {
                                        @Html.ActionLink("All Buyers", "Buyers", "Brands")
                                    }
                                    else
                                    {
                                        @Html.ActionLink("All Suppliers", "Suppliers", "Suppliers")
                                    }

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">More Information</li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    @if (Model.TypeId == CMS.Infrastructure.BrandType.Buyers)
                    {
                         <a href='@Url.Action("Buyers", "Brands")'>Back to List</a>
                    }
                    else
                    {
                        <a href='@Url.Action("Suppliers", "Brands")'>Back to List</a>
                    }
                    
                </div>
            </div>
        </div>
    </section>
    <section class="statistic">
        <div class="container">
            <form>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong> Details</strong>
                        </div>
                        <div class="card-body card-block">
                            <dl class="dl-horizontal">

                                <dt>
                                    @Html.DisplayName("Name")
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>

                                
                                <dt>
                                    @Html.DisplayName("Image")
                                </dt>
                                <dd>
                                    <img src="@Model.ThumbImagePath" alt="@Model.Name" width="25%">
                                </dd>
                                <dt>
                                    @Html.DisplayName("Brand Type")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TypeName)
                                </dd>

                                <dt>
                                    @Html.DisplayName("Web Site")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.WebSite)
                                </dd>

                                
                            </dl>

                        </div>
                        
                        <div class="card-footer">
                            <p>
                                <a href='@(Model.TypeId==CMS.Infrastructure.BrandType.Buyers? Url.Action("AddNewBrand", "Brands",new { bid = Model.Id }) : Url.Action("AddNewSupplier", "Brands",new { bid = Model.Id }))'>Edit This</a>  |  <a href='@(Model.TypeId == CMS.Infrastructure.BrandType.Buyers ? Url.Action("Buyers", "Brands"):Url.Action("Suppliers", "Brands")) '>Back to List</a>
                            </p>
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </section>
    
</div>

