<!-- Prealoder start -->
<div class="andro_preloader">
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>
  <!-- Prealoader End -->
 
  <!-- Aside (Right Panel) -->
  <app-home-sidebar></app-home-sidebar>
  <div class="andro_aside-overlay aside-trigger-right"></div>

  <!-- Aside (Mobile Navigation) -->
  <aside class="andro_aside andro_aside-left">
    <a class="navbar-brand" href="/home"> <img src="assets/img/logo.png" alt="logo"> </a>

    <ul>
      <li class="menu-item">
        <a href="/home">Home</a>
        <!--<ul class="sub-menu">
        <li class="menu-item"> <a href="index.html">Home v1</a> </li>
        <li class="menu-item"> <a href="home-v2.html">Home v2</a> </li>
        <li class="menu-item"> <a href="home-v3.html">Home v3</a> </li>
      </ul>-->
      </li>
      <li class="menu-item">
        <a href="/home">About Us</a>

      </li>
      <li class="menu-item">
        <a href="shop/">Shop</a>

      </li>

      <li class="menu-item"> <a href="/contact-us">Contact Us</a> </li>
    </ul>

  </aside>
  <div class="andro_aside-overlay aside-trigger-left"></div>

  <!-- Header Start -->
  <app-header></app-header>
  <!-- Header End -->
  
  <div class="section">
    <div class="imgs-wrapper">
        <img src="assets/img/products/1.png" alt="veg" class="d-none d-lg-block">
        <img src="assets/img/products/14.png" alt="veg" class="d-none d-lg-block">
    </div>
    <div class="container">
        <div class="andro_auth-wrapper">

            <div class="andro_auth-description bg-cover bg-center dark-overlay dark-overlay-2" style="background-image: url('assets/img/auth.jpg')">
                <div class="andro_auth-description-inner">
                   
                    <h2>{{welcome.Title}}</h2>
                    <p>{{welcome.SmallText}}</p>
                </div>
            </div>
            <div class="andro_auth-form">

                <h2>Log in</h2>
                <div *ngIf="isFail" class="alert alert-danger">
                  <div>
                    {{responsemsg.Message}}
                  </div>
              </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" formControlName="UserName" value="">
                        <div *ngIf="submitted && loginForm.get('UserName').errors" class="alert alert-danger">
                            <div *ngIf="loginForm.get('UserName').errors.required">
                              UserName is required
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" formControlName="Password" value="">
                        <div *ngIf="submitted && loginForm.get('Password').errors" class="alert alert-danger">
                            <div *ngIf="loginForm.get('Password').errors.required">
                              Password is required
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" class="andro_btn-custom primary">Log in</button>

                    <div class="andro_auth-seperator">
                        <span>OR</span>
                    </div>

                    <div class="andro_social-login">
                        <button type="button" class="andro_social-login-btn facebook"><i class="fab fa-facebook-f"></i> Continue with Facebook </button>
                        <button type="button" class="andro_social-login-btn google"><i class="fab fa-google"></i> Continue with Google</button>
                    </div>
                    <p>{{responsemsg}}</p>
                    <p>Don't have an account? <a href="/register">Register</a> </p>

                </form>
            </div>

        </div>
    </div>
</div>
