﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deshi Food - Organic Shop</title>

    <!-- Vendor Stylesheets -->
    <link rel="stylesheet" href="~/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="~/assets/css/plugins/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/plugins/ion.rangeSlider.min.css">

    <!-- Icon Fonts -->
    <link rel="stylesheet" href="~/assets/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome/css/all.min.css">

    <!-- Organista Style sheet -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">
</head>
<body ng-app="MyAngular">
    @RenderBody()
    
    <!-- Vendor Scripts -->
    <script src="~/assets/js/plugins/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/waypoint.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/plugins/jquery.slimScroll.min.js"></script>
    <script src="~/assets/js/plugins/imagesloaded.min.js"></script>
    <script src="~/assets/js/plugins/jquery.steps.min.js"></script>
    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="~/assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/plugins/slick.min.js"></script>
    <script src="~/assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="~/assets/js/plugins/jquery.zoom.min.js"></script>


    <!-- Organista Scripts -->
    <script src="~/assets/js/main.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
