<ngx-slick-carousel class="andro_testimonials" #slickModal="slick-carousel" 
[config]="slideConfig2" 
(init)="slickInit($event)">
<div ngxSlickItem class="andro_testimonial-item slide" *ngFor="let test of testimonials">
    <div class="andro_testimonials-inner">
      <img src='{{test.PhotoPath}}' alt='{{test.Person}}'>
      <h5>{{test.Person}}</h5>
      <span>{{test.Designation}}</span>
     
     <div [innerHTML]="test.TestimonialText"></div>
    </div>
    
  </div>
</ngx-slick-carousel>