﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MyAngular</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- Vendor Stylesheets -->
    
</head>
<body>
    <app-root></app-root>
    <script src="/Scripts/Client/runtime-es2015.js" type="module"></script>
    <script src="/Scripts/Client/runtime-es5.js" nomodule defer></script>
    <script src="/Scripts/Client/polyfills-es5.js" nomodule defer></script>
    <script src="/Scripts/Client/polyfills-es2015.js" type="module"></script>
    <script src="/Scripts/Client/styles-es2015.js" type="module"></script>
    <script src="/Scripts/Client/styles-es5.js" nomodule defer></script>
    <script src="/Scripts/Client/scripts.js" defer></script>
    <script src="/Scripts/Client/vendor-es2015.js" type="module"></script>
    <script src="/Scripts/Client/vendor-es5.js" nomodule defer></script>
    <script src="/Scripts/Client/main-es2015.js" type="module"></script>
    <script src="/Scripts/Client/main-es5.js" nomodule defer></script>
    
</body>

</html>