<div class="section pt-0 andro_fresh-arrivals">
  <div class="container">

    <div class="section-title flex-title">
      <h4 class="title">Fresh Arrivals</h4>
      <!-- <div class="andro_arrows">
        <i class="fa fa-arrow-left slick-arrow slider-prev"></i>
        <i class="fa fa-arrow-right slick-arrow slider-next"></i>
      </div> -->
    </div>

    <ngx-slick-carousel class="andro_fresh-arrivals-slider" #slickModal="slick-carousel" 
    [config]="slideConfig1" 
    (init)="slickInit($event)">
      <div ngxSlickItem class="andro_product andro_product-has-controls slider" *ngFor="let prod of products">
        <div *ngIf="prod.IsFeatured" class="andro_product-badge andro_badge-featured">
          <i class="fa fa-star"></i>

          <span>Featured</span>
        </div>
        <div class="andro_product-thumb thumb-sm">
          <a href="/product/{{prod.ProductId}}"><img src='{{prod.ThumbImagePath}}' alt='{{prod.Name}}'></a>
        </div>
        <div class="andro_product-body">
          <h5 class="andro_product-title"> <a href="/product/{{prod.ProductId}}"> {{prod.Name}} </a> </h5>
          <div class="andro_product-price">
            <span>{{prod.BasePrice}} kr/{{prod.UoMText}}</span>
          </div>

        </div>
        <div class="andro_product-footer">
          <div class="andro_product-controls">
            <a href="#"> <i data-toggle="tooltip" title="Add To Cart" data-placement="top"
                class="flaticon-shopping-basket"></i></a>
            <a href="" (click)="SelectProduct(prod.ProductId);" data-toggle="modal" data-target="#quickViewModal" > <i data-toggle="tooltip" title="Quick View" 
                data-placement="top" class="flaticon-view"></i></a>
            <a href="#" class="favorite"> <i data-toggle="tooltip" title="Add To Wishlist" data-placement="top"
                class="flaticon-like"></i></a>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>