<ngx-slick-carousel class="deals-slider" #slickModal="slick-carousel" 
[config]="slideConfig" 
(init)="slickInit($event)">
  <div ngxSlickItem class="andro_product slide" *ngFor="let prod of products">
    <div class="andro_product-badge andro_badge-sale">
      {{prod.PromotionTitle}}
    </div>
    <div class="andro_product-thumb">
      <a href='/product/{{prod.ProductId}}'><img src='{{prod.ImagePath}}' alt='{{prod.ProductName}}'></a>
      <div class="andro_countdown-timer">
        <time datetime="2020-12-20T17:47:00+0100">December 20, 2020 at 17:47 UTC+1</time>
      </div>
      
    </div>
    <div class="andro_product-body">
      <h5 class="andro_product-title"> <a href='/product/{{prod.ProductId}}'> {{prod.ProductName}} </a> </h5>
      <p>{{prod.SmallText}}</p>

    </div>
    <div class="andro_product-footer">
      <div class="andro_product-price">
        <span>{{prod.LatestPrice}} kr</span>
        <span>{{prod.BasePrice}} kr</span>
      </div>
      <a href='/product/{{prod.ProductId}}' class="andro_btn-custom btn-sm">Buy Now</a>
    </div>

  </div>
</ngx-slick-carousel>